@use "../styles/theme.scss";

header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  @media(min-width: theme.$breakpoint-lg) {
    padding: 0;
  }

  a {
    color: theme.$black;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.15s ease, opacity 0.15s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    @media(min-width: theme.$breakpoint-lg) {
      flex-direction: row;
    }

    li {
      &:first-child {
        padding-top: 20px;

        @media(min-width: theme.$breakpoint-lg) {
          padding-top: 0;
        }
      }
      padding-top: 20px;

      @media(min-width: theme.$breakpoint-lg) {
        padding-top: 0;
      }
    }

    a {
      margin: 0 16px;
      font-size: theme.$font-size-md;
      color: theme.$text1-color;
      height: 44px;
      line-height: 44px;
      display: inline-block;
      vertical-align: top;

      &:hover {
        color: theme.$link-color-hover;
      }
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @media(min-width: theme.$breakpoint-lg) {
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

:local(.navLinkWithIcon) {
  column-gap: 8px;
}

:local(.navIcon) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  svg {
    display: block;
  }
}

:local(.container) {
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px 0;

  @media(min-width: theme.$breakpoint-lg) {
    height: 84px;
    flex-direction: row;
    align-items: inherit;
    gap: 0;
    padding: 0;
  }
}

:local(.homeLink) {
  display: inline-block;
  width: 124px;
 
  img {
    max-height: 83px;
    height: 100%;
  }
}

:local(.signIn) {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-size: theme.$font-size-md;
  font-weight: theme.$font-weight-bold;
  
  a {
    margin-left: 8px;
    color: theme.$link-color;

    &:hover {
      color: theme.$link-color-hover;
    }
  }

  @media(min-width: theme.$breakpoint-lg) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    padding-top: 0;
  }
}

:local(.navContainer) {
  position: relative;
  margin-bottom: -56px;
  margin-top: 1rem;
  z-index: 1;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  @media(min-width: theme.$breakpoint-lg) {
    display: none;
  }
}

:local(.mobileNavWrapper) {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  max-width: 100%;

  header {
    width: 100vw;
    height: 220px;
    margin-right: 42px;
    padding: 0;
  }
  svg {
    margin-left: 21px;
    cursor: pointer;
    color: theme.$text1-color;
  }
  li:first-child {
    padding-top: 0;
  }
  a {
    font-size: 1.2rem;
  }

  header {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: height .3s;
    overflow: hidden;
  }

  header.is-active {
    opacity: 1;
    height:280px;
    visibility: visible;
    transition: opacity .4s, visibility .4s, height .6s;
    ul {
      height:230px;
      justify-content: space-between;
    }
  }
  header.cloud {
    height:230px;
    ul {
      height:200px;
      justify-content: center;
    }
  }
}
