@use "../styles/theme.scss";

:local(.SignInButton) {
    display: none;
    @media(min-width: theme.$breakpoint-lg) {
        display: flex;
      }
}

:local(.mobileSignIn) {
    display: flex;
    @media(min-width: theme.$breakpoint-lg) {
        display: none;
      }
}